@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";

body{
  background-color: #d9d3d3;
}

.confirm-button{
  .p-button{
    background-color: #334ed1;
  }
}

*{
  font-family: monospace;
  font-weight: 500;
}





