<p-dialog header="Confirmar" [modal]="true" [(visible)]="visible" [style]="{ width: '600px', height: '200px' }"
  [draggable]="false" [resizable]="false" (onHide)="hideModal()">
  <span>Tem certeza que deseja excluir esse usuário?</span>

  <ng-template pTemplate="footer">
    <div class="button-footer">
      <div class="confirm-button">
        <p-button label="Sim" (onClick)="confirmButton()" />
      </div>
      <div>
        <p-button label="Não" (onClick)="visible = false" />
      </div>
    </div>
  </ng-template>

</p-dialog>
