form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  flex: 1 1 50%;
  padding: 0 1em;
}

.field label {
  margin-bottom: 0.5em;
}

.field input {
  padding: 0.5em;
  font-size: 1em;
}

button {
  width: 100%;
}
::ng-deep{
  .p-checkbox-box.p-highlight {
    display: none !important;
  }

}
