<p-dialog [header]="user ? 'ATUALIZAR USUÁRIO' : 'CRIAR USUÁRIO'" [modal]="true" [(visible)]="visible"
[draggable]="false" [resizable]="false" (onHide)="hideModal()" (onShow)="isUpdate()">
<form [formGroup]="userForm" class="p-fluid grid formgrid">
  <div class="field col-12 md:col-6">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" pInputText formControlName="nome" />
    <div *ngIf="userForm.controls['nome'].invalid && userForm.controls['nome'].touched" class="p-error">
      <div *ngIf="userForm.controls['nome'].errors?.['required']">Nome é obrigatório</div>
      <div *ngIf="userForm.controls['nome'].errors?.['maxlength']">Nome pode ter no máximo 100 caracteres</div>
    </div>
  </div>
  <div class="field col-12 md:col-6">
    <label for="username">Username:</label>
    <input id="username" type="text" pInputText formControlName="username" />
    <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched" class="p-error">
      <div *ngIf="userForm.controls['username'].errors?.['required']">Username é obrigatório</div>
      <div *ngIf="userForm.controls['username'].errors?.['maxlength']">Username pode ter no máximo 50 caracteres</div>
    </div>
  </div>
  <div class="field col-12 md:col-6">
    <label for="telefone">Contato:</label>
    <input id="telefone" type="text" pInputText formControlName="telefone" />
    <div *ngIf="userForm.controls['telefone'].invalid && userForm.controls['telefone'].touched" class="p-error">
      <div *ngIf="userForm.controls['telefone'].errors?.['maxlength']">Contato pode ter no máximo 15 caracteres</div>
    </div>
  </div>
  <div class="field col-12 md:col-6">
    <label for="endereco">Endereço:</label>
    <input id="endereco" type="text" pInputText formControlName="endereco" />
    <div *ngIf="userForm.controls['endereco'].invalid && userForm.controls['endereco'].touched" class="p-error">
      <div *ngIf="userForm.controls['endereco'].errors?.['maxlength']">Endereço pode ter no máximo 255 caracteres</div>
    </div>
  </div>
  <div class="field col-12 md:col-6">
    <label for="senha">Senha:</label>
    <input id="senha" type="password" pInputText formControlName="senha" />
    <div *ngIf="userForm.controls['senha'].invalid && userForm.controls['senha'].touched" class="p-error">
      <div *ngIf="userForm.controls['senha'].errors?.['required']">Senha é obrigatória</div>
      <div *ngIf="userForm.controls['senha'].errors?.['minlength']">Senha deve ter no mínimo 6 caracteres</div>
    </div>
  </div>
  <div class="field col-12 md:col-6">
    <label for="confirmarSenha">Confirmar Senha:</label>
    <input id="confirmarSenha" type="password" pInputText formControlName="confirmarSenha" />
    <div *ngIf="userForm.controls['confirmarSenha'].invalid && userForm.controls['confirmarSenha'].touched" class="p-error">
      <div *ngIf="userForm.controls['confirmarSenha'].errors?.['required']">Confirmação de senha é obrigatória</div>
      <div *ngIf="userForm.controls['confirmarSenha'].errors?.['notMatching']">Senhas não coincidem</div>
    </div>
  </div>
  <div class="field col-12">
    <label for="email">Email:</label>
    <input id="email" type="text" pInputText formControlName="email" />
    <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="p-error">
      <div *ngIf="userForm.controls['email'].errors?.['required']">Email é obrigatório</div>
      <div *ngIf="userForm.controls['email'].errors?.['email']">Formato de email inválido</div>
      <div *ngIf="userForm.controls['email'].errors?.['maxlength']">Email pode ter no máximo 100 caracteres</div>
    </div>
  </div>
  <div style="display: flex;">
    <div class="field col-12 md:col-12">
      <label for="email">Status:</label>
      <p-checkbox formControlName="ativo" [binary]="true" label="Ativo"></p-checkbox>
    </div>
    <div class="field col-12 md:col-12">
      <label for="email">Nível:</label>
      <p-checkbox formControlName="isMaster" [binary]="true" label="Administrador"></p-checkbox>
    </div>
  </div>
</form>
<ng-template pTemplate="footer">
  <div class="button-footer" style="display: flex;
    justify-content: center;">
    <div class="confirm-button">
      <p-button label="Salvar" (onClick)="confirmButton()" [disabled]="!userForm.valid" [outlined]="true"></p-button>
    </div>
    <div>
      <p-button label="Cancelar" (onClick)="visible = false"></p-button>
    </div>
  </div>
</ng-template>
</p-dialog>
